@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Poppins&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#product-img{
    background-image: url("./images/product-cocacola-3-1.png");
    background-repeat: no-repeat;
    width: 100%;
    height:100px;
    background-size:contain;

}
#product-img h3{
    padding-top: 150px;
    font-size: 1.3rem;
    color: white;
    word-spacing: 5px;
}
#product-content{
margin-top: 15px;
margin-bottom: 30px;
}
.products-back{
text-decoration: none;
padding-left: 90px;
font-size:1.3rem;
color: black;
}
.products-back:hover{
    text-decoration: underline;
}
#product-content p{
    text-align: center; 
     padding-top: 20px;
    font-size: 1rem;
    font-weight: bold; 
}
.cans{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    flex-wrap: wrap;
    gap :30px;
    padding-bottom: 50px;
}
.favlor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.favlor button{
    margin-top: 25px;
    width: 150px;
    height: 35px;
    background-color:black;
    border-radius: 30px;
    color:white;
    font-size: 1rem;
    font-weight: bold;
    border: none;

}
.favlor button a{
    text-decoration: none;
    color: white;
}
.favlor button:hover{
    opacity: .8;
}
#product-footer-cont{
    display: flex;
    flex-wrap: wrap;
}
#product-footer-cont img{
    width: 100%;
}
.product-footer-content{
    padding-top: 5px;
    background-color: rgb(218, 213, 213);
    padding-left: 0px;
    padding-bottom: 10px;
}

.product-footer-content p{
    margin-top: 10px;
    font-size: 1.3rem;
}
.product-footer-content button{
    margin-top: 70px;
    width:120px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background-color: red;
}
.product-footer-content button a{
    text-decoration: none;
    color:white;
}
.product-footer-content button:hover{
    opacity: .8;
}
@media (min-width: 456px) {
    #product-img{
        height:200px;
    }
}
@media (min-width: 992px) {
    #product-img{
        height:400px;
    }
    .cans{
        gap :30px;  
    }
    #product-content p{
        font-size: 1.4rem;

    }
    #product-footer-cont{
        display: flex;
        flex-wrap: nowrap;
    }
    .product-footer-content{
        padding-top: 70px;
        padding-left: 100px;
    }

}